.github
.husky
.vscode
config
components/**/*.js
!components/*/__tests__
!components/*/__stories__
scripts
!.*.js
!.*.cjs
!.*.jsx
!.*.tsx
!.*.ts
~*
typings
dist
node_modules
.eslintcache
dist
coverage
**/*.d.ts
vite.config.ts

