use-lockfile-v6=true
registry=https://registry.npmmirror.com/
auto-install-peers=true
engine-strict=true
use-node-version=18.18.0 # 使用独立安装的 pnpm 版本 管理 node 依赖, 不再使用 nvm
node-mirror:release=https://npmmirror.com/mirrors/node/
node-mirror:rc=https://npmmirror.com/mirrors/node-rc/
node-mirror:nightly=https://npmmirror.com/mirrors/node-nightly/
